@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #D8DFE8;
    box-sizing: border-box;
    height: 100vh;
}


.seccionDeEncriptado {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    gap: 30px;
}

p {
    font-family: "Inter", sans-serif;
}

.encriptacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    width: 100%;
    height:100%;
}

.encriptacion_input_y_boton {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#textoEncriptar{
    width: 300px; 
    height: 40px;
}


.encriptacion_texto {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.encriptacion_textoEncriptado {
    border: 2px solid black;
}

.desencriptacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    width: 100%;
    height:100%;
    
}

.desencriptacion_input_y_boton {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.desencriptacion_texto {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.desencriptacion_textoDesencriptado {
    border: 2px solid black;
}